<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
		<!-- Beer of the month -->
    <ion-card class="welcome-card">
      <img [src]="botm.img" alt="" class="img_left"/>
      <ion-card-header class="card_header">
        <ion-card-subtitle>Beer of the month</ion-card-subtitle>
        <ion-card-title>{{botm.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
				<p>Alcohol : {{botm.alcohol}}%</p>
				<p>250 ml : ${{botm.price_250}} | 500 ml : ${{botm.price_500}}</p>
        <p>{{botm.description}}</p>
      </ion-card-content>
    </ion-card>

		<!-- Next event -->
		<ion-card class="welcome-card">
      <img [src]="nextEve.img" alt="" class="img_left"/>
      <ion-card-header class="card_header">
        <ion-card-subtitle>Next Event</ion-card-subtitle>
        <ion-card-title>{{nextEve.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
				<p>{{nextEve.date}}</p>
        <p>{{nextEve.description}}</p>
      </ion-card-content>
    </ion-card>


</ion-content>
